<!DOCTYPE html>
<html>
    <body>
        <h1 style="text-align:center;">Meet The Teem Head</h1>
        <br>
        <div class="row">
            <div class="column">
              <div class="card">
                <img src="assets/myimg.jpg" alt="Jane" style="width:100%">
                <div class="container">
                  <h2>Preet Patel</h2>
                  <p class="title">CEO & Founder</p>
                  <p>it's a demo to learn angular</p>
                  <p>preet@example.com</p>
                  <p><button class="button" routerLink="/contactus">Contact Us</button></p>
                </div>
              </div>
            </div>
            </div>

          </body>
          </html>
