<h1 style="text-align:center;">Terms and Condition</h1>
<div class="terms-cond">

    <p>
        1.hello how are you</p>

        <p>
            2.hello how are you</p>

            <p>
                3.hello how are you</p>

                <p>
                    4.hello how are you</p>

                    <p>
                        5.hello how are you</p>

                        <p>
                            6.hello how are you</p>

                            <p>
                                7.hello how are you</p>

                                <p>
                                    8.hello how are you</p>
 
<button  type="submit" routerLink="/register">Register</button>
</div>