.terms-cond{
    background-color: #f1f1f1;
    padding: 16px;
    margin: 5% auto;
    width: 250px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }